body {
	font-family: Arial, sans-serif;
	background-color: #f5f5f5;
}

header {
	background-color: #20232a;
	padding: 20px;
	text-align: center;
	color: #61dafb;
}

main {
	margin: 20px;
	text-align: center;
	color: #20232a;
}

button {
	background-color: #61dafb;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}

#links {
	display: flex;
	justify-content: center;
	gap: 20px;
	margin-top: 20px;
}

#links a {
	text-decoration: none;
	color: #61dafb;
	font-size: 20px;
	transition: color 0.3s ease;
}

#links a:hover {
	color: #20232a;
}

footer {
	background-color: #20232a;
	padding: 20px;
	text-align: center;
	color: #61dafb;
}
